:root{
    --text: #060407;
    --background: #f7f2f8;
    --primary-button: #d0cca9;
    --secondary-button: #f1e8f2;
    --accent: #68aca5;
    
    --main-theme-biege: #f8d4bc;
    --main-theme-green: #bcf8d4;
    --background-gradient: linear-gradient(120deg, var(--main-theme-biege), var(--main-theme-green));

    --DDB-logo: url("../images/logo/ddb_wide_logo.png");
}

*,*::before*::after {
    box-sizing: border-box;}
* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;}
html{
    color-scheme: light;}
body {
    background-color: var(--background);
    color: var(--text);
    overflow: hidden;
    background: var(--background-gradient)
}
img{
    width: 200px;
}

.main-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.flavors{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    max-height: 100svh;
    padding: 10px;
    width: fit-content;
}
.flavor-name{
    font-weight: bold;
}
.flavor-container{
    margin-bottom: 1px;
    display: block;
    cursor:pointer;
}
.container{
    font-size: clamp(0.2em, 1vw + 1em,1.5em);
    border: 2px solid gray;
    border-radius: 20px;
    padding-left: 20px;
    background-color: var(--secondary-button);
}
#flavorList > input{
    display: none;
    cursor: pointer;
}
#flavorList > input:checked + .flavor-container{background-color: var(--main-theme-green); border-color: black;}

.series-container{

}

.green{color: green}
.red{color: red;    font-weight: bold; text-decoration: line-through;}

.grid-col-span-2{
    grid-column: span 2;
}

.grid-row-span-2{
    grid-row:2 span;
}
